
.broken-link {
  font-size: medium;
  color : #c4c4c4;
  height : 100%;
  display : flex;
  align-items : center;
  justify-content: center;
  flex-wrap: wrap;
}
  img {
    width: 150px;
    border-radius: 14px;
    margin-left: 30px;
  }

